<div>
  <div *ngIf="mode == 'resetPassword'">
    <h2>Reset password</h2>
    <div>
      <form (ngSubmit)="authService.resetPassword(oobCode, password)">
        <mat-form-field>
          <mat-label><fa-icon [icon]="['fas', 'key']"></fa-icon> Password</mat-label>
          <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="password" required/>
        </mat-form-field>
        <p><button mat-flat-button color="accent"><fa-icon [icon]="['fas', 'unlock']"></fa-icon> RESET</button></p>
      </form>
    </div>
  </div>
  <div *ngIf="mode == 'verifyEmail'">
    <h2>Email verification</h2>
    <p>Verifying email</p>
    <p>Please wait a few seconds...</p>
  </div>
</div>