<div>
  <h2>Favourites</h2>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon [icon]="['fas', 'database']"></fa-icon> LOCAL
      </ng-template>
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <fa-icon [icon]="['fas', 'home']"></fa-icon> HOUSES
          </ng-template>
          <div class="div" *ngIf="!localEmptyHouse">
            <div class="div" *ngIf="authService.isLoggedIn()">
              <p>Upload your local favourites to our database.</p>
              <p><strong class="warn">WARNING! This action will delete your current online favourites.</strong></p>
              <button class="upload" mat-flat-button color="accent" (click)="storage.upload()"><fa-icon [icon]="['fas', 'cloud-upload-alt']"></fa-icon> UPLOAD</button>
              <mat-divider></mat-divider>
            </div>
            <h3>{{localHouse.name}}</h3>
            <button mat-flat-button color="accent" (click)="removeHouseLocal(localHouse._id)"><fa-icon [icon]="['fas', 'trash']"></fa-icon> REMOVE</button>
            <div><img src="https://cdn.jsdelivr.net/gh/OriolBen/Harry-Potter-API-part-4@master/src/app/assets/{{localHouse.name}}.png"></div>
            <mat-list>
              <mat-list-item><p class="mat-body"><strong>Mascot:</strong> {{localHouse.mascot}}</p></mat-list-item>
              <mat-list-item><p class="mat-body"><strong>Head of House:</strong> {{localHouse.headOfHouse}}</p></mat-list-item>
              <mat-list-item><p class="mat-body"><strong>House Ghost:</strong> {{localHouse.houseGhost}}</p></mat-list-item>
              <mat-list-item><p class="mat-body"><strong>Founder:</strong> {{localHouse.founder}}</p></mat-list-item>
              <mat-list-item><p class="mat-body"><strong>School:</strong> {{localHouse.school}}</p></mat-list-item>
              <mat-list-item><p class="mat-body"><strong>Colors:</strong></p></mat-list-item>
              <mat-list class="child">
                <mat-list-item *ngFor="let color of localHouse.colors"><p class="mat-body">{{color}}</p></mat-list-item>
              </mat-list>
              <mat-list-item><p class="mat-body"><strong>Values:</strong></p></mat-list-item>
              <mat-list class="child">
                <mat-list-item *ngFor="let value of localHouse.values"><p class="mat-body">{{value}}</p></mat-list-item>
              </mat-list>
              <mat-list-item><p class="mat-body margin"><strong>Members:</strong></p></mat-list-item>
              <mat-list class="child">
                <div *ngFor="let member of localHouse.members"><mat-list-item *ngIf="checkHouseCharactersLocal(member._id)"><p class="mat-body"><a [routerLink]="['/characters', member._id]">{{localHouseCharacters[member._id]}}</a></p></mat-list-item></div>
              </mat-list>
            </mat-list>
          </div>
          <div class="div" *ngIf="localEmptyHouse">
            <h3>You do not have a favourite house!</h3>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <fa-icon [icon]="['fas', 'hat-wizard']"></fa-icon> CHARACTERS
          </ng-template>
          <div class="div" *ngIf="!localEmptyCharacters">
            <div class="div" *ngIf="authService.isLoggedIn()">
              <p>Upload your local favourites to our database.</p>
              <p><strong class="warn">WARNING! This action will delete your current online favourites.</strong></p>
              <button class="upload" mat-flat-button color="accent" (click)="storage.upload()"><fa-icon [icon]="['fas', 'cloud-upload-alt']"></fa-icon> UPLOAD</button>
              <mat-divider></mat-divider>
            </div>
            <div class="center">
              <mat-accordion>
                <mat-expansion-panel *ngFor="let character of localCharacters">
                  <mat-expansion-panel-header>
                    <p>
                      <a class="down" [routerLink]="['/characters', character._id]">{{character.name}}</a>
                      <button class="left" mat-flat-button color="accent" (click)="removeCharacterLocal(character._id)"><fa-icon [icon]="['fas', 'trash']"></fa-icon> REMOVE</button>
                    </p>
                  </mat-expansion-panel-header>
                  <mat-list>
                    <mat-list-item *ngIf="checkCharacterInfo(character.house)"><p class="mat-body"><strong>House:</strong> <a [routerLink]="['/houses', characterHouseLocal(character.house)]">{{character.house}}</a></p></mat-list-item>
                    <mat-list-item *ngIf="checkCharacterInfo(character.patronus)"><p class="mat-body"><strong>Patronus:</strong> {{character.patronus}}</p></mat-list-item>
                    <mat-list-item *ngIf="checkCharacterInfo(character.species)"><p class="mat-body"><strong>Species:</strong> {{character.species}}</p></mat-list-item>
                    <mat-list-item *ngIf="checkCharacterInfo(character.bloodStatus)"><p class="mat-body"><strong>Blood Status:</strong> {{character.bloodStatus}}</p></mat-list-item>
                    <mat-list-item *ngIf="checkCharacterInfo(character.role)"><p class="mat-body"><strong>Role:</strong> {{character.role}}</p></mat-list-item>
                    <mat-list-item *ngIf="checkCharacterInfo(character.school)"><p class="mat-body"><strong>School:</strong> {{character.school}}</p></mat-list-item>
                    <mat-list-item *ngIf="checkCharacterInfo(character.deathEater)"><p class="mat-body"><strong>Death Eater:</strong> {{character.deathEater}}</p></mat-list-item>
                    <mat-list-item *ngIf="checkCharacterInfo(character.dumbledoresArmy)"><p class="mat-body"><strong>Dumbledore's Army:</strong> {{character.dumbledoresArmy}}</p></mat-list-item>
                    <mat-list-item *ngIf="checkCharacterInfo(character.orderOfThePhoenix)"><p class="mat-body"><strong>Order of the Phoenix:</strong> {{character.orderOfThePhoenix}}</p></mat-list-item>
                    <mat-list-item *ngIf="checkCharacterInfo(character.ministryOfMagic)"><p class="mat-body"><strong>Ministry of Magic:</strong> {{character.ministryOfMagic}}</p></mat-list-item>
                    <mat-list-item *ngIf="checkCharacterInfo(character.alias)"><p class="mat-body"><strong>Alias:</strong> {{character.alias}}</p></mat-list-item>
                    <mat-list-item *ngIf="checkCharacterInfo(character.wand)"><p class="mat-body"><strong>Wand:</strong> {{character.wand}}</p></mat-list-item>
                    <mat-list-item *ngIf="checkCharacterInfo(character.boggart)"><p class="mat-body"><strong>Boggart:</strong> {{character.boggart}}</p></mat-list-item>
                    <mat-list-item *ngIf="checkCharacterInfo(character.animagus)"><p class="mat-body"><strong>Animagus:</strong> {{character.animagus}}</p></mat-list-item>
                  </mat-list>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
          <div class="div" *ngIf="localEmptyCharacters">
            <h3>Your favourite character list is empty!</h3>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <fa-icon [icon]="['fas', 'magic']"></fa-icon> SPELLS
          </ng-template>
          <div class="div" *ngIf="!localEmptySpells">
            <div class="div" *ngIf="authService.isLoggedIn()">
              <p>Upload your local favourites to our database.</p>
              <p><strong class="warn">WARNING! This action will delete your current online favourites.</strong></p>
              <button class="upload" mat-flat-button color="accent" (click)="storage.upload()"><fa-icon [icon]="['fas', 'cloud-upload-alt']"></fa-icon> UPLOAD</button>
              <mat-divider></mat-divider>
            </div>
            <mat-list>
              <div *ngFor="let spell of localSpells" class="spell">
                <mat-list>
                  <mat-list-item>
                    <p class="mat-body">
                      {{spell.spell}}
                      <button class="left2" mat-flat-button color="accent" (click)="removeSpellLocal(spell._id)"><fa-icon [icon]="['fas', 'trash']"></fa-icon> REMOVE</button>
                    </p> 
                  </mat-list-item>
                  <mat-list>
                    <mat-list-item><p class="mat-body first"><strong>Type:</strong> {{spell.type}}</p></mat-list-item>
                    <mat-list-item><p class="mat-body second"><strong>Effect:</strong> {{spell.effect}}</p></mat-list-item>
                  </mat-list>
                </mat-list>
                <mat-divider class="divider"></mat-divider>
              </div>
            </mat-list>
          </div>
          <div class="div" *ngIf="localEmptySpells">
            <h3>Your favourite spell list is empty!</h3>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
    <mat-tab *ngIf="authService.isLoggedIn()">
      <ng-template mat-tab-label>
        <fa-icon [icon]="['fas', 'cloud']"></fa-icon> ONLINE
      </ng-template>
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <fa-icon [icon]="['fas', 'home']"></fa-icon> HOUSES
          </ng-template>
          <div class="div" *ngIf="!onlineEmptyHouse">
            <h3>{{onlineHouse.name}}</h3>
            <button mat-flat-button color="accent" (click)="removeHouseOnline(onlineHouse._id)"><fa-icon [icon]="['fas', 'trash']"></fa-icon> REMOVE</button>
            <div><img src="https://cdn.jsdelivr.net/gh/OriolBen/Harry-Potter-API-part-4@master/src/app/assets/{{onlineHouse.name}}.png"></div>
            <mat-list>
              <mat-list-item><p class="mat-body"><strong>Mascot:</strong> {{onlineHouse.mascot}}</p></mat-list-item>
              <mat-list-item><p class="mat-body"><strong>Head of House:</strong> {{onlineHouse.headOfHouse}}</p></mat-list-item>
              <mat-list-item><p class="mat-body"><strong>House Ghost:</strong> {{onlineHouse.houseGhost}}</p></mat-list-item>
              <mat-list-item><p class="mat-body"><strong>Founder:</strong> {{onlineHouse.founder}}</p></mat-list-item>
              <mat-list-item><p class="mat-body"><strong>School:</strong> {{onlineHouse.school}}</p></mat-list-item>
              <mat-list-item><p class="mat-body"><strong>Colors:</strong></p></mat-list-item>
              <mat-list class="child">
                <mat-list-item *ngFor="let color of onlineHouse.colors"><p class="mat-body">{{color}}</p></mat-list-item>
              </mat-list>
              <mat-list-item><p class="mat-body"><strong>Values:</strong></p></mat-list-item>
              <mat-list class="child">
                <mat-list-item *ngFor="let value of onlineHouse.values"><p class="mat-body">{{value}}</p></mat-list-item>
              </mat-list>
              <mat-list-item><p class="mat-body margin"><strong>Members:</strong></p></mat-list-item>
              <mat-list class="child">
                <div *ngFor="let member of onlineHouse.members"><mat-list-item *ngIf="checkHouseCharactersOnline(member._id)"><p class="mat-body"><a [routerLink]="['/characters', member._id]">{{onlineHouseCharacters[member._id]}}</a></p></mat-list-item></div>
              </mat-list>
            </mat-list>
          </div>
          <div class="div" *ngIf="onlineEmptyHouse">
            <h3>You do not have a favourite house!</h3>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <fa-icon [icon]="['fas', 'hat-wizard']"></fa-icon> CHARACTERS
          </ng-template>
          <div class="div" *ngIf="!onlineEmptyCharacters">
            <div class="center">
              <mat-accordion>
                <mat-expansion-panel *ngFor="let character of onlineCharacters">
                  <mat-expansion-panel-header>
                    <p>
                      <a class="down" [routerLink]="['/characters', character._id]">{{character.name}}</a>
                      <button class="left" mat-flat-button color="accent" (click)="removeCharacterOnline(character._id)"><fa-icon [icon]="['fas', 'trash']"></fa-icon> REMOVE</button>
                    </p>
                  </mat-expansion-panel-header>
                  <mat-list>
                    <mat-list-item *ngIf="checkCharacterInfo(character.house)"><p class="mat-body"><strong>House:</strong> <a [routerLink]="['/houses', characterHouseOnline(character.house)]">{{character.house}}</a></p></mat-list-item>
                    <mat-list-item *ngIf="checkCharacterInfo(character.patronus)"><p class="mat-body"><strong>Patronus:</strong> {{character.patronus}}</p></mat-list-item>
                    <mat-list-item *ngIf="checkCharacterInfo(character.species)"><p class="mat-body"><strong>Species:</strong> {{character.species}}</p></mat-list-item>
                    <mat-list-item *ngIf="checkCharacterInfo(character.bloodStatus)"><p class="mat-body"><strong>Blood Status:</strong> {{character.bloodStatus}}</p></mat-list-item>
                    <mat-list-item *ngIf="checkCharacterInfo(character.role)"><p class="mat-body"><strong>Role:</strong> {{character.role}}</p></mat-list-item>
                    <mat-list-item *ngIf="checkCharacterInfo(character.school)"><p class="mat-body"><strong>School:</strong> {{character.school}}</p></mat-list-item>
                    <mat-list-item *ngIf="checkCharacterInfo(character.deathEater)"><p class="mat-body"><strong>Death Eater:</strong> {{character.deathEater}}</p></mat-list-item>
                    <mat-list-item *ngIf="checkCharacterInfo(character.dumbledoresArmy)"><p class="mat-body"><strong>Dumbledore's Army:</strong> {{character.dumbledoresArmy}}</p></mat-list-item>
                    <mat-list-item *ngIf="checkCharacterInfo(character.orderOfThePhoenix)"><p class="mat-body"><strong>Order of the Phoenix:</strong> {{character.orderOfThePhoenix}}</p></mat-list-item>
                    <mat-list-item *ngIf="checkCharacterInfo(character.ministryOfMagic)"><p class="mat-body"><strong>Ministry of Magic:</strong> {{character.ministryOfMagic}}</p></mat-list-item>
                    <mat-list-item *ngIf="checkCharacterInfo(character.alias)"><p class="mat-body"><strong>Alias:</strong> {{character.alias}}</p></mat-list-item>
                    <mat-list-item *ngIf="checkCharacterInfo(character.wand)"><p class="mat-body"><strong>Wand:</strong> {{character.wand}}</p></mat-list-item>
                    <mat-list-item *ngIf="checkCharacterInfo(character.boggart)"><p class="mat-body"><strong>Boggart:</strong> {{character.boggart}}</p></mat-list-item>
                    <mat-list-item *ngIf="checkCharacterInfo(character.animagus)"><p class="mat-body"><strong>Animagus:</strong> {{character.animagus}}</p></mat-list-item>
                  </mat-list>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
          <div class="div" *ngIf="onlineEmptyCharacters">
            <h3>Your favourite character list is empty!</h3>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <fa-icon [icon]="['fas', 'magic']"></fa-icon> SPELLS
          </ng-template>
          <div class="div" *ngIf="!onlineEmptySpells">
            <mat-list>
              <div *ngFor="let spell of onlineSpells" class="spell">
                <mat-list>
                  <mat-list-item>
                    <p class="mat-body">
                      {{spell.spell}}
                      <button class="left2" mat-flat-button color="accent" (click)="removeSpellOnline(spell._id)"><fa-icon [icon]="['fas', 'trash']"></fa-icon> REMOVE</button>
                    </p> 
                  </mat-list-item>
                  <mat-list>
                    <mat-list-item><p class="mat-body first"><strong>Type:</strong> {{spell.type}}</p></mat-list-item>
                    <mat-list-item><p class="mat-body second"><strong>Effect:</strong> {{spell.effect}}</p></mat-list-item>
                  </mat-list>
                </mat-list>
                <mat-divider class="divider"></mat-divider>
              </div>
            </mat-list>
          </div>
          <div class="div" *ngIf="onlineEmptySpells">
            <h3>Your favourite spell list is empty!</h3>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
  </mat-tab-group>
</div>