div {
  text-align: center;
}

h2 {
  margin-bottom: 0px;
}

.left {
  margin-left: 10px;
}

.left2 {
  margin-left: 5px;
}

p {
  width: 100%;
  margin-bottom: 0px;
}

mat-list {
  margin: 0px !important;
}

mat-list-item {
  height: 25px !important;
}

strong {
  color: #797979;
}

a {
  text-decoration-line: none;
  color: #DAC137;
}

mat-list > mat-list {
  display: inline;
  margin-left: 16px;
}

mat-list {
  padding-top: 0px !important;
}

.child > mat-list-item:last-child {
  margin-bottom: 10px !important;
}

.margin {
  margin-bottom: 0px;
}

img {
  margin-top: 10px;
}

.down {
  margin-top: 8px;
}

.div {
  margin-top: 15px;
  margin-bottom: 15px;
}

mat-tab-group, #center {
  display: flex;
  align-items: center;
}

.center {
  margin-top: 15px;
}

mat-divider:not(last-child) {
  margin-top: 15px;
  margin-bottom: 15px;
}

.warn {
  color: #ff0000;
}

.first {
  margin-top: 20px;
}

.second, .upload {
  margin-top: 10px;
}

.divider {
  margin-bottom: 20px;
}