<div>
  <h2>Spells</h2>
  <button (click)="updateFilter('none')">All spells</button>
  <p>
    <select (change)="updateFilter('type')" [(ngModel)]="option">
      <option value="" disabled selected>Spells by type</option>
      <option value="Charm">Charm</option>
      <option value="Curse">Curse</option>
      <option value="Enchantment">Enchantment</option>
      <option value="Hex">Hex</option>
      <option value="Jinx">Jinx</option>
      <option value="Spell">Spell</option>
    </select>
  </p>
  <p>
    <input (keyup.enter)="updateFilter('name')" [(ngModel)]="temporaryName" placeholder="Spells by name">
    <button (click)="updateFilter('name')">Search</button>
  </p>
  <ul>
    <li *ngFor="let spell of applyFilter()">{{spell.spell}}
      <button *ngIf="!checkSpellLocal(spell._id)" (click)="addSpellLocal(spell._id)">Add to local favourites</button>
      <button *ngIf="checkSpellLocal(spell._id)" (click)="removeSpellLocal(spell._id)">Remove from local favourites</button>
      <button *ngIf="authService.isLoggedIn() && !checkSpellOnline(spell._id)" (click)="addSpellOnline(spell._id)">Add to online favourites</button>
      <button *ngIf="authService.isLoggedIn() && checkSpellOnline(spell._id)" (click)="removeSpellOnline(spell._id)">Remove from online favourites</button>
      <ul>
        <li>Type: {{spell.type}}</li>
        <li>Effect: {{spell.effect}}</li>
      </ul>
    </li>
  </ul>
  <h2 *ngIf="filtered.length == 0">No spells were found!</h2>
</div>
