<div id="middle">
  <p><a routerLink="/houses"><button mat-flat-button color="accent"><fa-icon [icon]="['fas', 'home']"></fa-icon> HOUSES</button></a></p>
  <p><a routerLink="/characters"><button mat-flat-button color="accent"><fa-icon [icon]="['fas', 'hat-wizard']"></fa-icon> CHARACTERS</button></a></p>
  <p><a routerLink="/spells"><button mat-flat-button color="accent"><fa-icon [icon]="['fas', 'magic']"></fa-icon> SPELLS</button></a></p>
  <p><a routerLink="/favourites"><button mat-flat-button color="accent"><fa-icon [icon]="['fas', 'star']"></fa-icon> FAVOURITES</button></a></p>
</div>