<div>
  <p><a routerLink="/houses"><button mat-flat-button color="accent" ><fa-icon [icon]="['fas', 'home']"></fa-icon> Houses</button></a></p>
  <p><a routerLink="/characters"><button mat-flat-button color="accent" ><fa-icon [icon]="['fas', 'hat-wizard']"></fa-icon> Characters</button></a></p>
  <p><a routerLink="/spells"><button mat-flat-button color="accent" ><fa-icon [icon]="['fas', 'magic']" [spin]="true"></fa-icon> Spells</button></a></p>
  <p><a routerLink="/favourites"><button mat-flat-button color="accent" ><fa-icon [icon]="['fas', 'star']"></fa-icon> Favourites</button></a></p>
</div>