a {
  text-decoration-line: none;
  color: #DAC137;
}

button {
  margin-left: 10px;
}

div > div {
  display: flex;
  justify-content: center;
  text-align: center;
}

p {
  width: 100%;
  margin-bottom: 0px;
}

h2 {
  text-align: center;
}

.down {
  margin-top: 8px;
}

strong {
  color: #797979;
}

mat-accordion {
  margin-bottom: 15px;
}

mat-list-item {
  height: 25px !important;
}

mat-list > mat-list {
  padding-top: 0px !important;
}

mat-list > mat-list:not(:last-child) {
  margin-bottom: 10px;
}