div > div {
  display: flex;
  justify-content: center;
  text-align: center;
}

h2 {
  text-align: center;
}

#move {
  margin-left: 5px;
  margin-right: -5px;
}

button:first-child {
  margin-right: 10px;
}

#reset {
  text-decoration-line: none;
  color: white;
}