<div>
  <h2 class="mat-display-h2">Login</h2>
  <div>
    <form (ngSubmit)="authService.loginRegular(email, password)">
      <mat-form-field>
        <mat-label><fa-icon [icon]="['fas', 'envelope']"></fa-icon> Email</mat-label>
        <input matInput type="text" placeholder="Email" name="email" [(ngModel)]="email" required/>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label><fa-icon [icon]="['fas', 'key']"></fa-icon> Password</mat-label>
        <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="password" required/>
      </mat-form-field>
      <p><a id="reset" routerLink="/reset"><fa-icon [icon]="['fas', 'lock']"></fa-icon> Forgot password?</a></p>
      <div id="move">
        <button mat-flat-button color="accent"><fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon> LOGIN</button>
        <a routerLink="/login"><button mat-flat-button color="accent" (click)="authService.signInGoogle()"><fa-icon [icon]="['fab', 'google']"></fa-icon> LOGIN</button></a>
      </div>
    </form>
  </div>
</div>