<div *ngIf="exists">
	<h2>{{character.name}}</h2>
  <button *ngIf="!checkCharacterLocal()" class="right" mat-flat-button color="accent" (click)="addCharacterLocal()"><fa-icon [icon]="['far', 'star']"></fa-icon> LOCAL</button>
  <button *ngIf="checkCharacterLocal()" class="right" mat-flat-button color="accent" (click)="removeCharacterLocal()"><fa-icon [icon]="['fas', 'star']"></fa-icon> LOCAL</button>
  <button *ngIf="authService.isLoggedIn() && !checkCharacterOnline()" mat-flat-button color="accent" (click)="addCharacterOnline()"><fa-icon [icon]="['far', 'star']"></fa-icon> ONLINE</button>
  <button *ngIf="authService.isLoggedIn() && checkCharacterOnline()" mat-flat-button color="accent" (click)="removeCharacterOnline()"><fa-icon [icon]="['fas', 'star']"></fa-icon> ONLINE</button>
	<mat-list>
		<mat-list-item *ngIf="check(character.house)"><p class="mat-body"><strong>House:</strong> <a [routerLink]="['/houses', link]">{{character.house}}</a></p></mat-list-item>
		<mat-list-item *ngIf="check(character.patronus)"><p class="mat-body"><strong>Patronus:</strong> {{character.patronus}}</p></mat-list-item>
		<mat-list-item *ngIf="check(character.species)"><p class="mat-body"><strong>Species:</strong> {{character.species}}</p></mat-list-item>
		<mat-list-item *ngIf="check(character.bloodStatus)"><p class="mat-body"><strong>Blood Status:</strong> {{character.bloodStatus}}</p></mat-list-item>
		<mat-list-item *ngIf="check(character.role)"><p class="mat-body"><strong>Role:</strong> {{character.role}}</p></mat-list-item>
		<mat-list-item *ngIf="check(character.school)"><p class="mat-body"><strong>School:</strong> {{character.school}}</p></mat-list-item>
		<mat-list-item *ngIf="check(character.deathEater)"><p class="mat-body"><strong>Death Eater:</strong> {{character.deathEater}}</p></mat-list-item>
		<mat-list-item *ngIf="check(character.dumbledoresArmy)"><p class="mat-body"><strong>Dumbledore's Army:</strong> {{character.dumbledoresArmy}}</p></mat-list-item>
		<mat-list-item *ngIf="check(character.orderOfThePhoenix)"><p class="mat-body"><strong>Order of the Phoenix:</strong> {{character.orderOfThePhoenix}}</p></mat-list-item>
		<mat-list-item *ngIf="check(character.ministryOfMagic)"><p class="mat-body"><strong>Ministry of Magic:</strong> {{character.ministryOfMagic}}</p></mat-list-item>
		<mat-list-item *ngIf="check(character.alias)"><p class="mat-body"><strong>Alias:</strong> {{character.alias}}</p></mat-list-item>
		<mat-list-item *ngIf="check(character.wand)"><p class="mat-body"><strong>Wand:</strong> {{character.wand}}</p></mat-list-item>
		<mat-list-item *ngIf="check(character.boggart)"><p class="mat-body"><strong>Boggart:</strong> {{character.boggart}}</p></mat-list-item>
		<mat-list-item *ngIf="check(character.animagus)"><p class="mat-body"><strong>Animagus:</strong> {{character.animagus}}</p></mat-list-item>
	</mat-list>
</div>
<div *ngIf="!exists">
	<h2>Character does not exist!</h2>
</div>