h1 {
  display: inline;
  margin-left: 10px;
}

.fill {
  flex: 1 1 auto;
}

mat-toolbar {
  height: 100px;
}

a {
  text-decoration-line: none;
  color: white;
}

button:first-child {
  margin-right: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 0px;
  margin-top: 0px;
}