<!--

<div>
  <a routerLink="">
    <img src="https://cdn.jsdelivr.net/gh/OriolBen/Harry-Potter-API-part-3@master/src/app/assets/hogwarts.png">
    <h1>Harry Potter API</h1>
  </a>
  <div *ngIf="!logged">
    <button routerLink="/login">Login</button>
    <button routerLink="/register">Register</button>
  </div>
  <div *ngIf="logged">
    <p>Welcome back, {{authService.userDetails.email}}</p>
    <button (click)="authService.logout()">Logout</button>
  </div>
</div>
<hr>

-->

<mat-toolbar>
  <a routerLink="">
    <img src="https://cdn.jsdelivr.net/gh/OriolBen/Harry-Potter-API-part-3@master/src/app/assets/hogwarts.png" width="80px">
  </a>
  <a routerLink="">
    <h1>Harry Potter API</h1>
  </a>
  <span class="fill"></span>
  <div *ngIf="!logged">
    <button mat-flat-button color="accent" routerLink="/login"><fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon> LOGIN</button>
    <button mat-flat-button color="accent" routerLink="/register"><fa-icon [icon]="['fas', 'user-plus']"></fa-icon> REGISTER</button>
  </div>
  <div *ngIf="logged">
    <p>{{authService.userDetails.email}}</p>
    <button mat-flat-button color="accent" routerLink="/register" (click)="authService.logout()"><fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon> LOGOUT</button>
  </div>
</mat-toolbar>